mixin f-cal-drop({})
  button.f-cal-drop
    +svg({ name: "calendar", width: 16, height: 16, className: "cal" })
    .f-cal-drop__name Today
    .f-cal-drop__date 11/12/2024
    +svg({ name: "arrow-dropdown", width: 14, height: 8, className: "arrow" })
