include /elements/head
include /elements/images
include /elements/script-pug

- let title = ""
- let headerTitle = ""

block data

doctype html
html(lang="en")
  +head({ title })
  body
    +script-pug({})
    section.p-layout
      .p-layout__left
        a.p-layout__logo(href="/")
          +svg({ name: "/img/logo-rx2go.svg", width: 97, height: 25 })
      .p-layout__right
        block header
        block content

    block modal

    include /elements/script
