-
  let daTableData = [
    {
      dispatcherName: "System",
      dispatcherId: 8,
      requestName: "Confirm the photo of the Fridgebag",
      requestIcon: "fridge-storage",
      requestColor: "lightblue",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "3m 14s",
      completedTime: "06:20:23 pm",
      completedDuration: "6m 23s",
      totalValue: "9m 37s"
    },
    {
      dispatcherName: "Jony Maksudov",
      dispatcherId: 219298384,
      requestName: "Confirm the driver's photo",
      requestIcon: "icon-photo",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "11m 45s",
      startedDurationError: true,
      completedTime: "06:25:12 pm",
      completedDuration: "9m 16s",
      totalValue: "21m 1s",
      totalColorError: true
    },
    {
      dispatcherName: "Khika Khadjaev",
      dispatcherId: 219298384,
      requestName: "Barcode rejected",
      requestIcon: "icon-label-qrcode",
      createdTime: "06:11:56 pm",
      startedTime: "06:11:34 pm",
      startedDuration: "0m 1s",
      startedDurationError: false,
      completedTime: "06:14:23 pm",
      completedDuration: "3m 18s",
      totalValue: "3m 19s",
      totalColorError: false
    },
    {
      dispatcherName: "Khika Khadjaev",
      dispatcherId: 219298384,
      requestName: "Wrong geoposition",
      requestIcon: "icon-label-geo",
      createdTime: "06:11:56 pm",
      startedTime: "06:11:34 pm",
      startedDuration: "0m 1s",
      startedDurationError: false,
      completedTime: "06:14:23 pm",
      completedDuration: "3m 18s",
      totalValue: "3m 19s",
      totalColorError: false
    },
    {
      dispatcherName: "Khika Khadjaev",
      dispatcherId: 219298384,
      requestName: "Unable to access the building",
      requestIcon: "ban",
      requestColor: "lightred",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "11m 45s",
      startedDurationError: true,
      completedTime: "06:25:12 pm",
      completedDuration: "9m 16s",
      totalValue: "21m 1s",
      totalColorError: true
    },
    {
      dispatcherName: "Khika Khadjaev",
      dispatcherId: 219298384,
      requestName: "Missing apartment or suite number",
      requestIcon: "house",
      requestColor: "yellow",
      createdTime: "06:11:56 pm",
      startedTime: "06:11:34 pm",
      startedDuration: "0m 1s",
      startedDurationError: false,
      completedTime: "06:14:23 pm",
      completedDuration: "3m 18s",
      totalValue: "3m 19s",
      totalColorError: false
    },
    {
      dispatcherName: "System",
      dispatcherId: 8,
      requestName: "Patient does not need the medication",
      requestIcon: "cross-2",
      requestColor: "red",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "13m 14s",
      startedDurationError: true,
      completedTime: "06:20:23 pm",
      completedDuration: "6m 23s",
      totalValue: "9m 37s"
    },
    {
      dispatcherName: "Khika Khadjaev",
      dispatcherId: 219298384,
      requestName: "An unusual problem",
      requestIcon: "icon-label-question",
      createdTime: "06:11:56 pm",
      startedTime: "06:11:34 pm",
      startedDuration: "0m 1s",
      startedDurationError: false,
      completedTime: "06:14:23 pm",
      completedDuration: "3m 18s",
      totalValue: "3m 19s",
      totalColorError: false
    },
    {
      dispatcherName: "System",
      dispatcherId: 8,
      requestName: "Gated community without entry code",
      requestIcon: "ban",
      requestColor: "lightred",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "11m 45s",
      startedDurationError: true,
      completedTime: "06:25:12 pm",
      completedDuration: "9m 16s",
      totalValue: "21m 1s",
      totalColorError: false
    },
    {
      dispatcherName: "Khika Khadjaev",
      dispatcherId: 219298384,
      requestName: "Wrong geoposition",
      requestIcon: "icon-label-geo",
      requestColor: "yellow",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "11m 45s",
      startedDurationError: true,
      completedTime: "06:25:12 pm",
      completedDuration: "9m 16s",
      totalValue: "21m 1s",
      totalColorError: false
    },
    {
      dispatcherName: "System",
      dispatcherId: 8,
      requestName: "Refuse",
      requestIcon: "cross-2",
      requestColor: "red",
      createdTime: "06:11:12 pm",
      startedTime: "06:14:45 pm",
      startedDuration: "13m 14s",
      startedDurationError: true,
      completedTime: "06:20:23 pm",
      completedDuration: "6m 23s",
      totalValue: "9m 37s"
    },
  ]
