-
  let requestData = [
    {
      text: "All (1234)"
    },
    {
      text: "Confirm the photo of the Fridgebag (123)",
      icon: "fridge-storage"
    },
    {
      text: "Confirm the driver's photo (345)",
      icon: "icon-photo"
    },
    {
      text: "Barcode rejected (567)",
      icon: "icon-label-qrcode"
    },
    {
      text: "Wrong geoposition (456)",
      icon: "icon-label-geo"
    },
    {
      text: "No answer at the door (213)",
      icon: "ban"
    },
    {
      text: "Unable to access the building (213)",
      icon: "ban"
    },
    {
      text: "Denied access by building security (213)",
      icon: "ban"
    },
    {
      text: "Gated community without entry code (213)",
      icon: "ban"
    },
    {
      text: "It's not safe to leave (213)",
      icon: "ban"
    },
    {
      text: "Patient does not live here anymore (345)",
      icon: "house"
    },
    {
      text: "Address not found (345)",
      icon: "house"
    },
    {
      text: "Missing apartment or suite number (345)",
      icon: "house"
    },
    {
      text: "Incorrect address format (345)",
      icon: "house"
    },
    {
      text: "GPS mismatch with provided address (345)",
      icon: "house"
    },
    {
      text: "Patient does not need the medication (234)",
      icon: "cross-2"
    },
    {
      text: "Patient refuses to pay the copay (456)",
      icon: "wallet"
    },
    {
      text: "An unusual problem (456)",
      icon: "icon-label-question"
    },
    {
      text: "Dispathcer Chat (456)",
      icon: "headphones"
    },
    {
      text: "Call Back Request (567)",
      icon: "call-phone-3"
    },
  ]
