-
  let statCardsData = [
    {
      icon: "plus-add",
      title: "Created Started",
      isError: false,
    },
    {
      icon: "rocket",
      title: "Started Completed",
      isError: true,
    },
    {
      icon: "sigma-circle",
      title: "Total",
      isError: true,
    },
  ]
